{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "modules": "auto",
                "targets": {
                    "browsers": ["<0%"]
                }
            }
        ],
        "@babel/preset-typescript"
    ]
}
